<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
</head>

<body>
	<!-- HEADER -->
	<header>
		<%- include('../partials/header') %>
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li><a href="/home">Home</a></li>
					<li><a href="/store">Store</a></li>
					<li class="active"><a href="/cart">Cart</a></li>
					<li><a href="/invoice">Invoice</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li class="active">Cart</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<br>
	<table width="100%">
		<colgroup>

			<col width="5%"> <!--This is for the first column-->
			<col width="7%"> <!--This is for the first column-->
			<col width="40%"> <!--This is for the second column-->
			<col width="15%">
			<col width="33%"> <!--This is for the third column-->

		</colgroup>
		<tbody>
			<tr>
				<th></th>
				<th style="text-align: center;">Product</th>
				<th style="padding-left: 88px;text-align: center;">Name</th>
				<th></th>
				<th style="
			    text-align: center;
			">Action</th>
			</tr>


			<tr>
				<td style="text-align-last: center;">
					<label class="checkbox-container" style="
	">
						<input type="checkbox" style="
				" name="category-1">
						<span class="checkmark" style="
	"></span>
					</label>
				</td>
				<td>
					<div class="product-img" style="text-align-last: center;">
						<div class="cover">
							<img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T2/images/I/618AJAMT-HL._AC_UL320_.jpg"
								alt="" style="
										width: 100px;
										height: 100px;
									" class="center">
						</div>
					</div>
				</td>
				<td style="
				">
					<div class="product-body" style="
											padding-left: 88px;
											height: -webkit-fill-available;
										">
						<h4 class="product-name"><a href="" tabindex="0" style="
										-webkit-line-clamp: 1;
									">Microsoft Surface 3 128GB WiFi Tablet 10.8 Inch Intel Atom - Silver (Renewed)</a></h4>
						<h4 class="product-price">$980.00</h4>
						<div class="product-rating">
						</div>
					</div>
				</td>
				<td style="padding: 20px;text-align: -webkit-center;">
					<button style="
		    display: inline;
		    font-weight: bold;
		    background-color: #cc0e0e;
		    color: white;
		    border: none;
		    width: 30px;
		    height: 40px;
		"> &lt; </button>
					<div class="input-number" style="display: inline;">
						<input type="number" value="1" style="
		    text-align-last: center;
		    padding: inherit;
		    width: 50px;
		    border: 1px solid;
		">
					</div><button style="
    display: inline;
    font-weight: bold;
    background-color: #cc0e0e;
    color: white;
    border: none;
    width: 30px;
    height: 40px;
"> &gt; </button>
				</td>
				<td style="
				text-align-last: center;
			"> <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-trash" viewBox="0 0 16 16">
						<path
							d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
						<path fill-rule="evenodd"
							d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
					</svg></a></td>

			</tr>
		</tbody>
	</table>
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form>
							<input class="input" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn"><i class="fa fa-envelope" aria-hidden="true"></i>
								Subscribe</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>

	<!-- FOOTER -->
	<footer id="footer">
		<%- include('../partials/footer') %>
	</footer>

	<div class="alert_wrapper">
		<div class="alert_backdrop"></div>
		<div class="alert_inner">
			<div class="alert_item alert_info">
				<div class="icon data_icon">
					<i class="fas fa-info-circle"></i>
				</div>
				<div class="data">
					<p class="title"><span>Info:</span>
						User action pending
					</p>
					<p class="sub">Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="icon close">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="alert_item alert_warning">
				<div class="icon data_icon">
					<i class="fas fa-exclamation-triangle"></i>
				</div>
				<div class="data">
					<p class="title"><span>Warning:</span>
						User action warning
					</p>
					<p class="sub">Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="icon close">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="alert_item alert_error">
				<div class="icon data_icon">
					<i class="fas fa-bomb"></i>
				</div>
				<div class="data">
					<p class="title"><span>Error:</span>
						User action error
					</p>
					<p class="sub">Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="icon close">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="alert_item alert_success">
				<div class="icon data_icon">
					<i class="fas fa-check-circle"></i>
				</div>
				<div class="data">
					<p class="title"><span>Success:</span>
					</p>
					<p class="sub"></p>
				</div>
				<div class="icon close">
					<i class="fas fa-times"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- /FOOTER -->
	<!-- jQuery Plugins -->
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/slick.min.js"></script>
	<script src="javascripts/nouislider.min.js"></script>
	<script src="javascripts/jquery.zoom.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/ejs.js"></script>
	<script src="javascripts/ejs.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>

</html>