<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="stylesheets/login-style.css"/>
<br>
<br>
<br>
<br>
<div class="login-block">
    <h1>E-commerce</h1>
    <p style="text-align:center"> Please write your new account password</p>
    <form action="/api/v1/account/reset-password" method="post" id="form">
        <input type="password" placeholder="Password" name="password"/>
        <input type="password" placeholder="Verify Password" name="verify_password"/>
    </form>
    <% if (locals.message) { %>
        <p style="color: red; text-align: center;" > <%=message.toString()%> </p>
    <%} %>
    <button type="submit" form="form">Change Password</button>
</div>